<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364174678549-0t7bmimvnr8t7skfeio99pcikqsigmsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364174678549-0t7bmimvnr8t7skfeio99pcikqsigmsh</string>
	<key>API_KEY</key>
	<string>AIzaSyCOZ6hL-d3OKtjQDKwzug1p-dpQ-SVsLQA</string>
	<key>GCM_SENDER_ID</key>
	<string>364174678549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesapp</string>
	<key>PROJECT_ID</key>
	<string>suv5diseno</string>
	<key>STORAGE_BUCKET</key>
	<string>suv5diseno.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364174678549:ios:b5aad176f899d89bc34c1c</string>
</dict>
</plist>